ion-item-divider{
    --background: rgba(250, 163, 2, 0.356);
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px 2px goldenrod;
}

ion-item{
    font-size: 14px;
}