<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" style="margin: 5px;">

    <ion-item-divider class="divisor">
      <ion-label>
        Modo Manual
      </ion-label>
    </ion-item-divider>

    <ion-item style="margin-bottom: 10px;">
      <ion-label>Joystick</ion-label>
      <ion-toggle [(ngModel)]="manualMode" slot="end" color="dark" (ionChange)="saveManualMode()"></ion-toggle>
    </ion-item>

    <ion-item-divider class="divisor">
      <ion-label>
        Conexión
      </ion-label>
      <div slot="end" style="margin: 0px 10px;">
        <ion-button fill="outline" color="medium" (click)="saveIP()">Guardar</ion-button>
        <ion-button fill="outline" color="medium" (click)="reset()">Reset</ion-button>
      </div>
    </ion-item-divider>

    <ion-item style="margin-bottom: 10px;">
      <ion-label >Dirección IP</ion-label>
      <ion-input slot="end" color="dark" [(ngModel)]="ip" (ionInput)="verificar()"></ion-input>
    </ion-item>

    <ion-item-divider class="divisor">
      <ion-label>
        Base de Datos
      </ion-label>
    </ion-item-divider>

    <ion-item style="margin-bottom: 10px;">
      <ion-label>Registros</ion-label>
      <ion-button slot="end" fill="outline" color="danger" (click)="clearDB()">Borrar</ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>