<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="modoManual">
    <ion-list>
    <ion-item>
      <ion-label>Modo Manual</ion-label>
      <ion-toggle slot="end" color="dark"></ion-toggle>
    </ion-item>
    <ion-item> <!-- Sorry por el diseño tan pobre, puedes cambiar lo que quieras -->
      <ion-label>Conección</ion-label>
      <ion-input slot="end" color="dark" 
        [(ngModel)]="ip">IP</ion-input>
      <ion-button slot="end" fill="outline" color="dark"
        (click)="saveIP()">Guardar IP</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Registros</ion-label>
      <ion-button fill="outline" color="danger"
        (click)="clearDB()">Borrar</ion-button>
    </ion-item>
  </ion-list>
    </div>
  
</ion-content>
