<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><b>Panel Seguidor de Luz Solar</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="bienvenida" style="margin: 20px;">
    Bienvenidos
  </div>
  <ion-slides [options]="slideOpts">
    <ion-slide class="slide" *ngFor="let p of appPages;">
      <img class="img-menu" src="https://img.freepik.com/foto-gratis/superficies-pizarra_34805-10.jpg?size=626&ext=jpg">
      <ion-text class="text-img"><b>{{p.title}}</b></ion-text>
    </ion-slide>
  </ion-slides>

</ion-content>