<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <ion-card class="inicio">
    <ion-card-header>
      <ion-card-title class="text-title"> Bienvenidos </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="text-content">Panel Seguidor de Luz Solar</ion-text>
      <br>
      <ion-text style="font-size: 12px;">Proyecto de Microprocesadores y Sistemas Embebidos</ion-text>
    </ion-card-content>
  </ion-card>

  <div id="menu-inicio">
    <ion-card class="tarjetas" *ngFor="let p of appPages;">
      <ion-item>
        <ion-icon color="dark" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-card-title style="font-size: 16px;"><b>{{p.title}}</b></ion-card-title>
      <ion-button fill="outline" color="dark" slot="end" [routerLink]="[p.url]">Ir</ion-button>
      </ion-item>
      <ion-card-content>
        <p>{{p.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>