<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Analisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pantalla">
    <br>
    <p class="intensidad-title">Intensidad de Luz Solar</p>
    <p class="intensidad">{{intensidad}} lumenes</p>
    <br>
    <div class="angulos">
      <p id="angulo">Angulo 1: {{angulo1}}°</p>
      <p id="angulo">Angulo 2: {{angulo2}}°</p>
    </div>
  </div>
  
  <span *ngIf="manualMode">
    Hola
  </span>
</ion-content>

