<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Registros</ion-title> 
    <ion-button slot="end" fill="clear"  (click)="getValues()">
    <ion-icon name="refresh"></ion-icon>
  </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-card>
    <canvas baseChart width="600" 
    [chartType]="chartType"
    [legend]="true"
    [datasets]="lightLevels"
    [labels]="chartLabels"
    [options]="chartOptions" *ngIf="foundData"></canvas>
    <ion-content *ngIf="!foundData">No se pudo conectar a la API...</ion-content>
  </ion-card>
</ion-content>
