<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>"Los datos usados son de prueba y van a cambiar" -Shotem</p> 
  <ion-card>
    <canvas baseChart width="600" 
    [chartType]="chartType"
    [legend]="true"
    [datasets]="lightLevels"
    [labels]="chartLabels"
    [options]="chartOptions"></canvas>
  </ion-card>
  <div>
    
  </div>
</ion-content>
