ion-content{
    text-align: center;
}

ion-icon.iconTittle{
    margin-top: 20px; 
      font-size: 128px;
      color: gray;
  }


h3{
    margin: 0px 20px 10px 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;
  }

  h4{
    margin: 0px 20px 40px 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  
  