<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon name="information-circle-outline" class="iconTittle"></ion-icon>

  <h3>Información</h3>
  <h4>Panel Seguidor de Luz Solar</h4>
  
  <ion-list>
    <ion-item *ngFor="let page of pages" [routerLink]="page.url" detail>
      <ion-label>{{page.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>