<ion-header>
  <ion-toolbar color="dark">
    <ion-title>¿Sabías que...?</ion-title>
    <ion-button slot="end" fill="clear" style="margin:0px;" color="primary" (click)=salir()>
      <ion-icon name="close" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Girasoles</h3>

  <p>Los girasoles necesitan mucho sol, por lo tanto siguen los movimientos del sol a través 
    del cielo de este a oeste, este fenómeno se llama Heliotropismo.</p>

  <p>Es por eso que los girasoles son un fuerte elemento en nuestro proyecto.</p>

  <div style="text-align: center;">
  <ion-button href="https://acercandonaciones.com/girasoles-flores-que-siguen-al-sol-29022020__Pv27lVjMgz"
  fill="outline" color="dark">
    Conoce más
  </ion-button>
</div>
</ion-content>
